<div id="<%= dom_id contract %>">
  <p>
    <strong>Contractor:</strong>
    <%= contract.contractor_id %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= contract.project_id %>
  </p>

  <p>
    <strong>Time estimate:</strong>
    <%= contract.time_estimate %>
  </p>

  <p>
    <strong>Price estimate:</strong>
    <%= contract.price_estimate %>
  </p>

  <p>
    <strong>Running cost:</strong>
    <%= contract.running_cost %>
  </p>

  <p>
    <strong>Accepted:</strong>
    <%= contract.accepted %>
  </p>

</div>
