<div id="<%= dom_id attachment %>">
  <p>
    <strong>File extension:</strong>
    <%= attachment.file_extension %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= attachment.url %>
  </p>

  <p>
    <strong>Uploader:</strong>
    <%= attachment.uploader_id %>
  </p>

  <p>
    <strong>Attachable:</strong>
    <%= attachment.attachable_id %>
  </p>

</div>
