<div id="<%= dom_id project %>">
  <p>
    <strong>Priority:</strong>
    <%= project.priority %>
  </p>

  <p>
    <strong>Desired completion date:</strong>
    <%= project.desired_completion_date %>
  </p>

  <p>
    <strong>Running cost:</strong>
    <%= project.running_cost %>
  </p>

  <p>
    <strong>House:</strong>
    <%= project.house_id %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= project.budget %>
  </p>

  <p>
    <strong>Estimated completion date:</strong>
    <%= project.estimated_completion_date %>
  </p>

</div>
