<div id="<%= dom_id receipt %>">
  <p>
    <strong>Project:</strong>
    <%= receipt.project_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= receipt.price %>
  </p>

  <p>
    <strong>Contractor:</strong>
    <%= receipt.contractor_id %>
  </p>

  <p>
    <strong>Type of cost:</strong>
    <%= receipt.type_of_cost %>
  </p>

</div>
